<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
# 显示数据库
show databases;

#判断是否存在数据库image_su,有的话先删除
## drop database if exists image_su;

#创建数据库
create database image_su;

#使用数据库
use image_su;

#显示数据库里的表
show tables;

#判断表是否存在，存在先删除
drop table if exists image_su;

In [ ]:
#创建表
create table image_suuz(
id int auto_increment primary key,
sentence varchar(1000),
image_url varchar(300)
)default charset=utf8;

#删除表
drop table image_suu;

#删除数据
delete from image_suu where id=1;

#查看表的数据结构
describe image_suu;

#插入数据id,sentence,image_url
#第一种
insert into image_suu values('好出门啊','lllal.com');
#第二种
insert into image_suu(sentence,image_url)values('今天学习','github.com')

#查询表数据
select * from image_suu;
select id,sentence from image_suu;

#修改其中一条数据
updata image_suu set sentence='并不是不聪明' where id=2;


#逻辑运算花式选取数据     
select * from image_suu where id<3 and id>1;
select * from image_suu where id<3 or id>0;
select * from image_suu where id between 0 and 2; 
select * from image_suu where id in (1,2,5);

#查询第i条以后到第j条的数据(不包括第i条)
select * from image_suu limit 2,5; #显示3-5条数据

In [ ]:
#字段删除
alter table image_suu drop column sentence;
#字段增加
alter table id_name add age int,add address varchar(11);

In [ ]:
#asc排序 desc降序
select * from image_suu order by id asc;

In [ ]:
#修改表字段的数据类型
alter table image_su modify column sentence varchar(6000)